.borderAddmatrix{
    margin: 20px  ;
   
}
.buttonAddmatrix{
    padding: 0 20px;
   
}
.blackground_row_matrix{
    padding: 0 40px;
    background-color: rgb(67, 193, 243);
    text-align: left;
   
}
.colInput{
    padding: 5px 5px 5px 0px;
    
}
.titlematrix{
    padding : 0 40px;
    text-align: left;
    
}
.showdata{
    margin-top: 40px;
}